$primary: #601da0;
$secondary: #ffa500;
$primary-font: Poppins;
$beige: #fff5e0;

/*Global Styling*/
h1 {
font-family: $primary-font !important;
}

h2 {
font-family: $primary-font !important;
font-size: 50px !important;
}

p {
font-size: 22px;
}

.btn {
font-family: $primary-font !important;
font-size: 25px !important;
padding-left: 50px !important;
padding-right: 50px !important;
padding-top: 15px !important;
padding-bottom: 15px !important;
max-width: 275px !important;
color: #fff !important;
border-radius: 50px !important;
}

.btn-primary {
background-color: $primary !important;
}

.btn-secondary {
background-color: $secondary !important;
}

.bg-beige {
background-color: $beige;
}

/* Start Nav Styling */
.bg-body-tertiary {
background-color: #601da0 !important;
}

.navbar-nav li::before {
content: "";
font-family: none;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

.nav-item a {
  color: #fff;
  font-family: "Poppins";
  text-decoration: none !important;
}

/* End Nav Styling */

/* Start Jumbo Styling */

.jumbo {
background-size: cover;
background-repeat: no-repeat;
height: 625px;
background-position: left center !important;
}

.jumbo-content {
padding-top: 115px;
}

.jumbo-content {
p {
  font-family: $primary-font;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 55px;
}

.heading {
  font-family: $primary-font;
  font-weight: 900;
  font-size: 90px;
  line-height: 115px;
  margin-top: 50px;
  margin-bottom: 0px !important;
}

.sub-heading {
  font-family: $primary-font;
  font-size: 40px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
  border: 4px solid #fff;
}
}
/* End Jumbo Styling */

/* Start Content Block 1 Styling */
.content-block-one {
  .card {
    border: 0px solid !important;
    border-radius: 30px;
    background-color: $secondary;
  }

p {
  font-family: $primary-font;
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
}

a {
  color: #fff;
}

.row {
  margin-right: calc(0 * var(--bs-gutter-x)) !important;
  flex-wrap: unset !important;
  justify-content: center;
}

.col-md-4 {
  margin-left: 50px;
  margin-right: 50px;
}

img {
  max-width: 305px !important;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.btn {
  border: 4px solid #ffe1aa !important;
  font-size: 22px !important;
  min-width: 270px;
  box-shadow: none;
}

}
/* End Content Block 1 Styling */

/* Start Content Block 2 Styling */
.content-block-two {
padding-top: 80px;
padding-bottom: 80px;
background-color: $primary;

.row {
  flex-wrap: unset !important;
}

h2 {
  color: #fff !important;
}

p {
  color: #fff !important;
}

.fa-li {
  text-align: left !important;
  width: 100% !important;
}

ul {
  list-style: none;
  margin: 0 0 20px 50px;
  padding: 0 0 0 0;
  text-align: left;
  position: relative;
}

li {
  margin: 0 0 0 0;
  position: relative;
  padding: 8px 0 8px 45px;
  text-align: left;
  min-height: 40px;
  line-height: 27px;
  color: #fff;
  font-size: 22px !important;
}

li::before {
  content: "\f058";
  display: inline-block;
  font-size: 28px;
  font-family: "FontAwesome";
  font-weight: 900;
  color: #fff;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  line-height: 40px;
}

.headshot {
  border-radius: 1000px;
  height: 550px;
  width: 550px;
  background-size: cover;
  background-position: center center;
  background-position-y: -100px;
  background-repeat: no-repeat;
}

.btn {
  border: 4px solid #fff;
}
}
/* End Content Block 2 Styling */

/* Start Content Block 4 Styling */

.content-block-four {
img {
  box-shadow: 20px 20px 50px grey;
  border-radius: 15px;
}

.card {
  background-color: $primary;
  padding: 40px;
  border: none;
  justify-content: center;
  box-shadow: 20px 20px 50px grey;
  border-radius: 15px;
}

p {
  font-family: $primary-font;
  font-size: 27px;
}

a {
  color: #fff;
}

i {
  font-family: "FontAwesome";
  font-style: normal !important;
  font-size: 40px;
  margin-right: 10px;
  color: #fff;
}

.fa-envelope {
  font-size: 30px !important;
}
}

/* End Content Block 4 Styling */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Mobile Styling */
@media (max-width:1400px) {
.jumbo-content .sub-heading {
  font-size: 35px;
}

.content-block-one {
  img {
  max-width: 260px !important;
}
}
}

@media (max-width:1200px) {
.jumbo-content .sub-heading {
  font-size: 27px;
}

.jumbo-content .btn {
font-size: 20px !important;
}

.jumbo-content .heading {
font-size: 70px;
}

.jumbo {
background-position-x: -80px !important;
}

.content-block-one {
p {
  font-size: 25px;
}

.row {
  margin-left: 0px !important;
}
}

.content-block-two {
  .headshot {
    width: 450px;
    height: 450px;
    background-position-y: -50px;
  }
}
}

@media (max-width: 992px) {
  .navbar .nav-item {
    padding-top: 10px !important;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 20px;
    border-bottom: 1px solid #4c007f;
}

.navbar {
--bs-navbar-toggler-border-radius: 0rem !important;
--bs-navbar-toggler-focus-width: 0rem !important;
box-shadow: none;
}

.navbar-nav {
  background-color: #601da0 !important;
  margin-top: 0px;
  margin-bottom: 0px !important;
  padding-bottom: 10px !important;
}

.navbar-toggler {
margin-top: 0px !important;
border: none !important;
}

.fa-bars {
color: #fff !important;
}


.jumbo {
  background-image: url(/images/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 425px;
  background-position: bottom center;
  background-position-x: 0px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;

  .btn-primary {
    background-color: $primary !important;
}

  .col-md-8 {
    width: 100%;
  }

  .jumbo-content {
    margin-left: 0px;
    text-align: center;
    float: none;    
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    color: #000;
    border-radius: 15px;

    .heading {
      font-family: $primary-font !important;
      font-size: 40px;
      line-height: 50px;
      text-shadow: 0px 0px 0px #fff;
    }

    p {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-shadow: 0px 0px 0px #fff;
    }

    .btn {
      margin-bottom: 10px;
  }
  }

  .justify-content-start {
    justify-content: center !important;
}

  .content-block-two .row {
    flex-wrap: wrap !important;
  }
}

.jumbo-content {
  p {
    font-family: $primary-font;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 55px;
  }

  .heading {
    font-family: $primary-font;
    font-size: 90px;
    line-height: 115px;
  }
}

.content-block-one {
  .col-md-3 {
    width: 50% !important;
    }

  img {
    max-width: 325px !important;
}

  .bg-beige {
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
  }

  .col-md-4 {
    flex: 0 0 100% !important;
    width: 100% !important;
  }

  .row {
    flex-wrap: wrap !important;
  }

  p {
    margin-top: 5px;
  }

}

.content-block-two {
  padding-top: 50px;
  padding-bottom: 50px;

  .col-md-6 {
    width: 100% !important;
}

  .row {
    flex-wrap: wrap !important;
  }
  .col-md-3 {
    flex: 0 0 100% !important;
    width: 100% !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  .headshot {
    width: auto;
    height: 450px;
    max-width: 450px;
    margin: 0px auto;
}

h2 {
  margin-top: 50px;
}

}

.content-block-three {
  .row {
    display: block;
  }

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  ul {
    max-width: 300px;
    margin: 0px auto;
  }

  .img-split {
    height: 890px;
    background-position-x: -100px;
  }
}

.content-block-four {
  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}
}


@media(max-width:768px) {
  .content-block-one img {
    max-width: 100% !important;
}

.design-sec img {
  max-width: 100% !important;
  padding-left: 40px;
  padding-right: 40px;
}

.design-sec video {
max-width: 100%;
}


.spacing-two {
margin-top: -15px !important;
margin-bottom: 15px;
}

img.spacing-two {
margin-top: -5px !important;
margin-bottom: 20px;
}

.spacing {
margin-top: 20px !important;
margin-bottom: 20px !important;
}

.content-block-two {
  .headshot {
height: 325px !important;
max-width: 325px;
}

 h2 {
  margin-top: 40px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}
}
}

@media (max-width:481px) {
  h2 {
    font-size: 30px !important;
  }

  .content-block-one {
    p {
    font-size: 18px;
}

.col-md-3 {
  width: 100% !important;
}
  }

.content-block-two {
.headshot {
  height: 250px !important;
  max-width: 250px;
}

h2 {
  margin-top: 30px;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px !important;
}

.btn {
  font-size: 18px !important;
  margin-top: 20px !important;
}
}

.content-block-four {
  h2 {
    margin-bottom: 0px !important;
  }

  p {
  font-size: 18px;
}

.fa-envelope {
  font-size: 20px !important;
}

i {
  font-size: 20px;
}
}
}



/* Start Design Page Styling */
.design-sec {
padding-top: 50px;
padding-bottom: 50px;

h1 {
  margin-top: 100px;
}

p {
  margin-top: 25px;
  margin-bottom: 30px;
}
}

.design-sec img {
display: flex;
flex-direction: column;
max-width: 700px;
margin: 0px auto;
margin-bottom: 30px;
}

/* End Design Page Styling */

